<%- include('head') %> <%- include('header') %>
<div class="container" style="text-align: center;">
  <h2>Welcome to Our App  </h2>

  <div class="Content main"   style="text-align: center; margin-top: 7%;">
    <form action="/" method="POST" >
      <h5>Enter the Food Name</h5>
      <input autocomplete="off" type="text"   placeholder="food name" name="foodName" /><br><br>
     <input type="submit"> 
    </form>
  </div>
</div>

<%- include('footer') %>
